[Unit]
Description=GROL5000 console
After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target haos-supervisor.service
Conflicts=getty@%i.service
Before=getty.target
Conflicts=rescue.service
Before=rescue.service
StartLimitIntervalSec=3s

[Service]
ExecStart=/usr/sbin/haos-cli
Type=idle
Restart=always
RestartSec=100ms
RestartMaxDelaySec=3s
RestartSteps=3
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
IgnoreSIGPIPE=no
SendSIGHUP=yes
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
Environment=ENV=/etc/profile.d/grol-console.sh

[Install]
WantedBy=multi-user.target
